

.grid {
  display: flex;
  flex-wrap: wrap;
  border: solid black 5px;
  margin: auto;
  width: 900px;
  height: 700px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.shooter {
  background-color: blue;
}

.invader {
  background-color: black;
  border-radius: 10px;
}

.boom {
  background-color: red;
}

.laser {
  background-color: green;
}
