html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font: 16px sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  text-align: center;
  background:black;
  color: whitesmoke;
  padding: 5px;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 11px;
  background: black;
  color: white;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  background: url(./img.png/Themebackground1.jpg);
  width: auto;
  height: 100vh;
}

.game {
  width: 800px;
  height: 600px;
  background: url(./img.png/bluestarsbackground.jpeg);
  animation: scroll-background 6s linear infinite;
  position: relative;
  opacity: 92%;
}

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

.game .enemy {
  position: absolute;
  margin-left: -20px;
  margin-top: -18px;
  width: 40px;
}

.game .player {
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  width: 40px;
}

.game .laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.game .enemy-laser {
  position: absolute;
  margin-left: -2.5px;
  height: 30px;
}

.congratulations {
  display: none;
  margin-top: 10%;
  position: absolute;
  background: hsl(130, 91%, 25%);
  color: whitesmoke;
  padding: 15px 50px;
  border-radius: 10px;
  text-align: center;
  animation: pop-in 3s;
}

.game-over {
  display: none;
  margin-top: 10%;
  position: absolute;
  background: #6b1818;
  color: whitesmoke;
  padding: 15px 50px;
  border-radius: 10px;
  text-align: center;
  animation: pop-in 3s;
}

.btn {
  border: 2px solid;
  border-radius: 2px;
  background: whitesmoke;
  padding: 10px 40px;
  font: 14px sans-serif;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translate(0, -100px);
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
